<!DOCTYPE root[<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
 

]>
<root id="-1">
  <HomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-16T18:32:14" updateDate="2013-11-16T18:48:31" nodeName="Belle Playground" urlName="belle-playground" path="-1,1054" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1046" nodeTypeAlias="HomePage">
    <umbracoNaviHide><![CDATA[0]]></umbracoNaviHide>
    <umbracoHideInLists><![CDATA[0]]></umbracoHideInLists>
    <siteTitle><![CDATA[Belle Playground]]></siteTitle>
    <pageTitle><![CDATA[Belle Playground]]></pageTitle>
    <pageIntroduction><![CDATA[]]></pageIntroduction>
    <pageImage />
    <pageContent><![CDATA[]]></pageContent>
    <ContentPage id="1055" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2013-11-16T18:48:45" updateDate="2013-11-16T18:48:45" nodeName="About me" urlName="about-me" path="-1,1054,1055" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="ContentPage">
      <umbracoNaviHide><![CDATA[0]]></umbracoNaviHide>
      <umbracoHideInLists><![CDATA[0]]></umbracoHideInLists>
      <menuTitle><![CDATA[]]></menuTitle>
      <pagePromotePages />
      <listTitle><![CDATA[]]></listTitle>
      <listIntroduction><![CDATA[]]></listIntroduction>
      <listImage />
      <pageSpecificClass><![CDATA[]]></pageSpecificClass>
      <pageTitle><![CDATA[]]></pageTitle>
      <pageIntroduction><![CDATA[]]></pageIntroduction>
      <pageContent><![CDATA[]]></pageContent>
      <pageImage />
      <myFirstProperty><![CDATA[]]></myFirstProperty>
    </ContentPage>
  </HomePage>
</root>